<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Add Words!</h1>
  </div>
</header>

<div class="container">
  <a class="btn btn-default" href="/main"> Back to Home</a>
  <hr>
  <!--these words will be going into the individuals page, possibly the class words, and added to her program (words they can use) -->
  <!--<div class="container">-->
  <ul class="list-group">
    <li class="list-group-item">
      <form ng-submit="hasDuplicateValues()">
        <input ng-model="wordField" type="text" size="50" placeholder="add a new item to the list!">
        <input type="submit" value="Add" class="btn btn-primary">
        <div>Word to Add: {{wordToAdd1}} Student to Add to: {{currentStudent}}</div>

        <!--<span class="floatRight">Items in this list: {{itemsInList()}}</span> -->
      </form>
    </li>

    <!--</ul>-->
  <!--<ul>-->
    <!--<form name="addingWordsForm" action="checkboxes.asp" method="post">-->
      <!--<span><input type = "button" name ="CheckAll" value="Check All"></span>-->
    <li class="list-group-item" ng-repeat="tile in tileBucket"><label><input type="button" ng-checked="" ng-click="wordToAdd(tile)"> {{tile.wordName}}</label> <span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="removeData($index)"></span></li>

      <!--<li class="list-group-item" ng-repeat="test in data">{{test.weight}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="removeData($index)"></span></li>-->
    <!--</form>-->
  </ul>
  <!--</div>-->
<!--</div>-->
  <div class="col-xs-4">
    <button class="button" ng-click="addWord()"> Add word to Student</button>
  </div>
  <br>
  <br>


<!--<div class="container">-->
  <div class="col-xs-4">
    <h1 class="page-header">Students:</h1>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="student in studentList">
        <a href="" ng-click="studentInfo(student)">{{student.firstName}} {{student.lastName}}</a>
    </ul>
  </div>


  <div class="col-xs-4" ng-show="true">
    <h1 class="page-header">{{currentStudent}}:</h1>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="words in currentStudentWords">
        <a href="" ng-click="">{{words}}</a></li>
    </ul>
  </div>


  </form>
<!--</div>-->
</div>

<!-- make check boxes push information, be able to maybe check and uncheck all (we can do this last), put tables by each other, make names seen right away, not just groups, and move garbage cans over-->




